<app-header></app-header>

<div class="container-lg tableHeader">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="contact-form">
        <h3
          class="card-header text-center font-weight-bold text-uppercase py-4"
        >
          Contacts
        </h3>

        <form method="post">
          <table
            class="table table-striped"
            style="margin-top: 28px; margin-bottom: 18px"
          >
            <thead>
              <small
                data-toggle="modal"
                data-target="#createContact"
                style="font-size: 15px; color: #1512d1"
              >
                + Add new Contact
              </small>
              <tr class="bg-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts">
                <td>{{ contact.contactId }}</td>
                <td>{{ contact.contactName }}</td>
                <td>{{ contact.contactEmailId }}</td>
                <td>{{ contact.conactNumber }}</td>
                <td>
                  <button class="btn btn-danger">
                    <a title="delete" (click)="confirm(contact.contactId)"
                      >Delete</a
                    >
                  </button>
                  &nbsp;
                  <button
                    class="btn btn-info"
                    (click)="editContact(contact)"
                    data-toggle="modal"
                    data-target="#updateModel"
                  >
                    Update
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!contacts?.length" class="nodata">
  <h5>No-Data Found</h5>
</div>
<div class="modal fade" id="createContact">
  <div class="modal-dialog">
    <app-create-component
      (createcon)="isRecordsCreated($event)"
    ></app-create-component>
  </div>
</div>

<div class="modal fade" id="updateModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="col-md-6 offset-md-3">
        <h3>Update Contact</h3>
        <form>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              [(ngModel)]="contact.contactName"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              [(ngModel)]="contact.contactEmailId"
            />
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phone"
              [(ngModel)]="contact.conactNumber"
            />
          </div>
          <br />
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="updateContact()"
              data-dismiss="modal"
            >
              Submit
            </button>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
